<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OMNIATHLETICS.Properties.Settings.OmniCalculationsDBConnectionString"
            connectionString="Data Source=DESKTOP-PGJPJK2\MSSQLSERVER01;Initial Catalog=OmniCalculationsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>